#DebriefingBackground
{
  background-color: #ffffff;
}

#topbar
{
	display: block;
	width: 1920px;
	height: 104px !important;
}

.debrief-patient-picture
{
	box-shadow: none;
}

.debrief-patient-info
{
	background-color: #f1fcfc;
	box-shadow: none;
}

.debriefing-link-button
{
	background-color: #ffffff;
	border: 3px solid #2e7fa1;
	color: #2e7fa1;
	box-shadow: none;
	border-radius: 10px 10px 10px 10px;
	font-weight: bold;
}

.debrief-info-list-wrapper dt
{
	font-weight: normal;
	width: 40%;
	line-height: 2.5em;
}

.debrief-info-list-wrapper dd
{
	font-weight: bold;
}

#debrief-name
{
	font-weight: bold;
}

.debriefing-general-button
{
	background-color: #ffffff;
	border: 3px solid #2e7fa1;
	color: #2e7fa1;
	box-shadow: none;
	border-radius: 10px 10px 10px 10px;
	font-weight: bold;
}

.debriefing-general-button:hover {
  color: #ffffff;
  background-color: #2e7fa1;
}

.debriefing-general-button.disabled,
.debriefing-general-button.disabled:hover {
  color: #2e7fa1;
  background-color: #ffffff;
  border: 3px solid #2e7fa1;
  cursor: default;
}

.debriefing-full-feedback-wrapper,
.debriefing-main-improvements-wrapper
{
	box-shadow: none;
}

.debriefing-result-na,
.debriefing-result-passed,
.debriefing-result-notpassed
{
	display: none;
}

.debriefing-result-score
{
  display: block;
}

#debrief-picture-wrapper
{
	margin-top: 30px;
}

.version-number
{
	margin-top: 20px;
	z-index: 10;
}

.book-references-popup
{
	width: 454px;
	height: 277px;
	background: #FFFFFF;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
}

.book-references-popup-header-title
{
	height: 40px;
	margin-top: 40px;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 140%;
	align-items: center;
	text-align: center;
	color: #2A2A2A;
}

.book-references-popup-entry
{
	height: 69px;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 140%;
	align-items: center;
	text-align: center;
	color: #2A2A2A;
}

.book-references-popup-entry-title
{
	margin: 0px;
}

.book-references-popup-entry-context
{
	height: 40px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	align-items: center;
	text-align: center;
	color: #2A2A2A;
}

.complain-button
{
	display: none !important;
}
